@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700;900&display=swap');
#wraperMarkdown{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
}
.container{
    width: 48%;
    background-color: rgb(123, 168, 207);
    border: 3px solid rgb(5, 152, 250);
    margin: 0 7px;
    position: relative;
}
.buttonbar{
    position: relative;
    background: bisque;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2em;
}
#editor, 
#preview{
    width: 96%;
    height: 75vh;
    border: 2px solid gray;
    padding: 9px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#editor{ 
    resize: initial;
    font-size: 20px;
    font-weight: 100;
}
#preview{
    font-size: 21px;
    font-weight: 400;
}

@media screen and (max-width: 992px){
    .container {
        width: 48%;
    }    
}
@media screen and (max-width: 600px){
    #wraperMarkdown {
        flex-direction: column;
        align-items: center;
    }    
    .container {
        width: 100%;
        margin-bottom: 16px;
    } 
}

.icon-window{
    color: rgb(38, 42, 58);
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 2px 3px 1px 3px;
    position: absolute;
}
.icon-window:hover{
    opacity: 0.5;
}
#windowMinimize, 
#windowMaximize{
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    opacity: 1;
    z-index: 5;
}
#windowMinimize,
#minimize{
    top: 0;
    right: 26px;
}
#windowMaximize,
#maximize{
    top: 0;
    right: 0;
}
