.wraper-markdown{
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    font-family: 'Barlow', sans-serif;
    margin: 1em;
    justify-content: space-evenly;
}
.container__markdownPreviewer{
    background-color: rgb(123, 168, 207);
    border: 3px solid rgb(5, 152, 250);
    min-width: 550px;
    max-width: 700px;
}
.editor-wrap{
    height: 100%;
}

.previewWrap{
    padding: 1.25rem;
}

#editor{ 
    width: 100%;
    height: inherit;
    margin-bottom: -5px;
    resize: none;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 0.875rem;
}

#preview{
    width: 100%;
    border: 2px solid gray;
    padding: 1em;
    display: contents;
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
}

@media screen and (max-width: 1150px){
    .wraper-markdown {
        grid-template-columns: auto;
        grid-gap: 1em;
    } 
 
    #editor{
        background-color: rgb(154, 189, 157);
        height: 40vh;
    } 
    .container__markdownPreviewer{
        background-color: rgb(153, 124, 167);
    }
}

@media screen and (min-width: 1520px){
    .wraper-markdown {
        grid-template-columns: 700px 700px;
        justify-content: center;
        align-content: stretch;
        align-items: stretch;
    } 
 
    #editor{
        border: 2px solid gray;
        background-color: rgb(158, 190, 160);
    } 
    .container__markdownPreviewer{
        background-color: rgb(218, 170, 163);
    }
}

/*  Preview */

#preview blockquote {
    border-left: 6px solid #2b1266;
    color: #3e0d8b;
    padding-left: 5px;
    margin: 8px 0 8px 25px;
}

#preview h1, 
#preview h2,
#preview h3 {
    margin: 10px 0;
}
#preview  p{
    margin: 5px 0;
}
#preview  p  code {
    padding: 3px;
}

#preview  code {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(117, 21, 21);
}

#preview  pre {
    margin: 1em auto;
    display: block;
    width: fit-content;
    background-color: rgb(247, 247, 247);
    padding: 1em;
}

#preview img {
    display: block;
    max-width: 40%;
    margin: 1rem auto;
}
#preview ul,
#preview ol{
    margin-left: 30px;
}
