@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
:root {
  /* ==== Drum Pad ==== */

  --main-bg-color-drumpad: rgb(49, 51, 82);
  --inside-border-drumpad: 2px solid #ff69b4;
  --main-color-object-drumpad: #aaa;
  --hotpink: #ff69b4;
  --border-slider-range-drumpad: 2px solid var(--hotpink);
  --yellow: #ffe94e;
  --hotpurple: #d72df7;
  --purple: #5016f1;
  --amazing-colors: linear-gradient(
    217deg,
    var(--yellow),
    var(--hotpurple),
    var(--purple)
  );
}
#drum-machine {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.wrapper-drum-machine {
  display: flex;
  font-family: 'Lato', sans-serif;
  border: 7px solid var(--main-bg-color-drumpad);
  gap: 7px;
  background-color: var(--main-bg-color-drumpad);
  color: var(--main-color-object-drumpad);
}
#drumPad,
.controls-block {
  border: 3px solid hotpink;
}
#drumPad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 16px;
}
.drum-pad {
  border: 2px solid rgb(190, 190, 190);
  font-size: 28px;
  width: 140px;
  height: 140px;
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======== Style for pressed button ======== */

@keyframes shine {
  0% {
    background-color: var(--purple);
  }
  80% {
    background-color: var(--hotpurple);
  }
  100% {
    background-color: var(--yellow);
  }
}
.drum_button_active {
  animation-name: shine;
  animation-timing-function: linear;
  animation-duration: 0.1s;
  color: transparent;
}

/* ====== Style for control block ======= */
.controls-block {
  display: flex;
  padding: 16px;
  font-size: 20px;
  flex-direction: column;
  justify-content: space-evenly;
}
#displayVolume,
#display-drum {
  border: var(--inside-border-drumpad);
  text-align: center;
  padding: 10px;
  font-weight: 300;
}
#display-drum {
  width: 160px;
  height: 48px;
}
.controls-block > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.instrument {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.instrument > * {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: var(--main-color-object-drumpad);
}

/* ====== Style for radio button ====== */
.label-button {
  display: flex;
  gap: 20px;
  color: var(--main-color-object-drumpad);
  align-items: center;
  font-weight: 300;
}
.custom-radio-btn {
  width: 31px;
  height: 31px;
  border: 2px solid var(--hotpink);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-radio-btn .checkmark {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 50%;
  display: inline-block;
  background-color: var(--hotpink);
  opacity: 0;
  transition: opacity 0.35s;
}
.custom-radio-btn input {
  display: none;
}
.custom-radio-btn input:checked + .checkmark {
  opacity: 1;
}

/* ===== Input range and sound volume ======*/
.display-volume {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}
#displayVolume {
  width: 75px;
}
.style-range {
  -webkit-appearance: none;
  width: 100%;
  height: 14px;
  background: var(--amazing-colors);
  outline: none;
  border: var(--border-slider-range-drumpad);
  border-radius: 8px;
  margin-top: 10px;
}
.style-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 30px;
  background: var(--main-bg-color-drumpad);
  cursor: default;
  border: var(--border-slider-range-drumpad);
  border-radius: 4px;
}
.style-range::-moz-range-thumb {
  width: 14px;
  height: 30px;
  background: var(--main-bg-color-drumpad);
  cursor: default;
  border: var(--border-slider-range-drumpad);
  border-radius: 4px;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 831px) {
  #drum-machine {
    padding: 20px;
  }
  .wrapper-drum-machine {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
  }
  .controls-block {
    padding: 10px;
    font-size: 15px;
    flex-flow: row wrap;
    gap: 4%;
  }
  .controls_display {
    order: 1;
    width: 48%;
  }
  .controls_sets {
    order: 3;
    width: 100%;
  }
  .controls_volume {
    order: 2;
    width: 48%;
  }
  #display-drum {
    padding: 5px;
  }
  #displayVolume {
    display: none;
  }
  #display-drum {
    height: 38px;
    width: 80%;
  }
  .display-volume {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
  }
  .instrument {
    flex-direction: row;
    gap: 35px;
  }
  .controls-block > *,
  #drumPad {
    grid-gap: 8px;
    gap: 8px;
    padding: 8px;
  }
  .drum-pad {
    font-size: 18px;
    width: calc(100%);
    height: calc(100%);
    aspect-ratio: 1 / 1;
  }
}
/* =============== (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  .wrapper-drum-machine {
    width: 100%;
  }
}
