@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
 --main-bg-color: rgb(49, 51, 82);
 --inside-border: 2px solid #ff69b4;
 --main-color-object: #aaa;
 --hotpink: #ff69b4;
 --border-slider-range: 2px solid var(--hotpink);
 --yellow: #ffe94e;
 --hotpurple: #d72df7;
 --purple: #5016f1;
 --amazing-colors: linear-gradient(217deg, var(--yellow), var(--hotpurple), var(--purple)
)
}
.wrapper-drum-machine{
    margin: 5rem auto;
    display: grid;
    gap: 0.8em;
    grid-template-columns: 480px 200px;
    width: 700px;
    height: 400px;
    align-content: stretch;
    justify-content: space-evenly;
}
.style-wrapper{
    font-family: 'Lato', sans-serif;
    border: 3px solid #333;
    background-color: var(--main-bg-color);
    color: var(--main-color-object);
}

/*    Style for tests   */

#drumPad, 
.controls-block{
    border: 2px solid hotpink;
    width: 100%;
    height: 100%;
}
#drumPad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.drum-pad{
    text-align: center;
    border: 2px solid rgb(190, 190, 190);
    justify-content: center;
    display: table-row-group;
    font-size: 28px;
}
.letterOnPad{
    display: block;
    margin-top: 2rem;
    cursor: default;
}

/* Style for pressed button */

@keyframes shine {
    0%  {background-color: var(--purple);}
    80% {background-color: var(--hotpurple);}
    100% {background-color: var(--yellow);}
}
.drum_button_active{
    animation-name: shine;
    animation-timing-function: linear;
    animation-duration: 0.1s;
    color: transparent;
}

/* Style for control block */
.controls-block{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 20px 10px;
    font-size: 1.2rem;
}
#display-drum{
    border: var(--inside-border);
    margin: 10px auto;
    text-align: center;
    width: 160px;
    height: 37px;
}
.block{
    display: block;
    width: 100%;
}
.block p{
    margin-bottom: 7px;
    display: inline-block;
}

/* Style for radio button */

.custom-radio-btn{
    width: 31px;
    height: 31px;
    border: 2px solid var(--hotpink);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}
.custom-radio-btn .checkmark{
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border-radius: 50%;
    display: inline-block;
    background-color: var(--hotpink);
    opacity: 0;
    transition: opacity 0.35s;
}
.custom-radio-btn input{
    display: none;
}
.custom-radio-btn input:checked + .checkmark{
    opacity: 1;
}
.label-button{
    display: flex;
    color: var(--main-color-object);
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: baseline;
}
.label-text{
    margin-left: 15px;
}
/* ================== Style input range and sound volume ===============*/
.display-volume{
    display: grid;
    grid-column: 2;
}
#displayVolume{
    border: var(--inside-border);
    margin: 5px 10px;
    font-size: 21px;
    text-align: center;
    justify-content: center;
    width: 4rem;
    height: 37px;
    /* display: inline-block; */
}
.display-volume span {
    display: grid;
    width: 4rem;
    height: 37px;
    background-color: aliceblue;
}
.style-range{
    -webkit-appearance: none;
    width: 100%;
    height: 14px;
    background: var(--amazing-colors);
    outline: none;
    border: var(--border-slider-range);
    border-radius: 8px;
    margin-top: 10px;
}
.style-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 30px;
    background: var(--main-bg-color);
    cursor: default;
    border: var(--border-slider-range);
    border-radius: 4px;
}
.style-range::-moz-range-thumb {
    width: 14px;
    height: 30px;
    background: var(--main-bg-color);
    cursor: default;
    border: var(--border-slider-range);
    border-radius: 4px;
}