header {
  height: 100vh;
  padding-top: 80px;
  overflow: hidden;
}

.header__container {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 48px;
  grid-row-gap: 32px;
  font-family: 'Poppins', sans-serif;
}
.header__container h1 {
  color: var(--color-primary);
}
.header__container h3 {
  font-size: 26px;
}
.header__container p {
  margin: 16px 0;
  color: var(--color-light);
  font-size: 18px;
}
.header__container__position {
  margin: 48px 8px;
}
.grid-row-span {
  grid-column: span 2;
}
/* ======== CTA ========== */
.cta {
  margin-top: 40px;
  display: flex;
  gap: 19px;
  justify-content: center;
}

/* ======== Header socials ========== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  position: fixed;
  left: 32px;
  bottom: 48px;
  font-size: 21px;
}
.header__socials::before {
  content: '';
  width: 3px;
  height: 64px;
  background-color: var(--color-light);
}
.header__socials::after {
  content: '';
  width: 3px;
  height: 64px;
  background-color: var(--color-light);
}

/* ======== Photo ========== */

.photo {
  width: 352px;
  height: 416px;
  position: relative;
  left: calc(23% - 80px);
  /* margin-top: 48px; */
  overflow: hidden;
}

.border-photo {
  border: 16px solid #d2efd9;
  padding: 24px;
  height: fit-content;
  width: fit-content;
}

/* ======== SCROLL DOWN ========== */
.scroll__down {
  position: absolute;
  right: -37px;
  bottom: -160px;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 14px;
}

/* =============== MEDIA QUERIES (Medium-Large DEVICES) =========== */

@media screen and (max-width: 1195px) {
  .header__container__position {
    margin: 32px 0;
  }
  .header__container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    grid-row-gap: 32px;
  }
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1100px) {
  .header__container {
    grid-row-gap: 32px;
  }
  /* .header__container{
        text-align: center;
        height: 22rem;
        position: relative;
        display: grid;
        grid-template-columns: 18rem 55%;
        grid-gap: 15%;
        gap: 8%;
    } */
  .header__container h3 {
    font-size: 16px;
  }
  .header__container p {
    margin: 24px 0 32px;
    font-size: 16px;
  }
  .photo {
    width: 336px;
    height: 368px;
    margin: 0;
  }
}
/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
  header {
    padding-top: 16px;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .header__container {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
  /* .photo {
    } */
  .header__container p {
    margin: 24px 0 32px;
  }
  .cta {
    margin-top: 24px;
  }
}
