header{
    height: 100vh;
    padding-top: 8rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 36% 60%;
    grid-gap: 4%;
    gap: 4%;
    grid-row-gap: 0rem;
}
.header__container h1 {
    color: var(--color-primary);
}
.header__container h3{
    font-size: 1.6rem;
}
.header__container p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    font-size: 1.2rem;
}
.header__container__position{
    margin: 4rem 3rem;
}
.grid-row-span{
    grid-column: span 2;
}
/* ======== CTA ========== */
.cta{
    /* margin-top: 2.5rem; */
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======== Header socials ========== */

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    left: 4em;
    bottom: 6rem;
    font-size: 1.7rem;
}
.header__socials::before{
    content: "";
    width: 0.2rem;
    height: 4rem;
    background-color: var(--color-primary);
}
.header__socials::after{
    content: "";
    width: 0.2rem;
    height: 4rem;
    background-color: var(--color-primary);
}

/* ======== Photo ========== */
/* .photo{
    background: linear-gradient( var(--color-primary), transparent );
    width: 18rem;
    height: 22rem;
    position: absolute;
    left: calc(50% - 8.5rem);
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
} */
.photo {
    background: linear-gradient( var(--color-primary), transparent );
    width: 100%;
    /* height: 100%; */
    border-radius: 11rem 38rem 10rem 34rem;
    overflow: hidden;
    padding-right: 2rem;
    /* margin: 0 2rem; */
}

/* ======== SCROLL DOWN ========== */
.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: -10rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px){
    .header__container__position {
        margin: 2.5rem 1.5rem;
    }
    .header__container{
        text-align: center;
        position: relative;
        display: grid;
        grid-template-columns: 36% 60%;
        grid-gap: 4%;
        gap: 4%;
        grid-row-gap: 0rem;
    }
    /* .header__container{
        text-align: center;
        height: 22rem;
        position: relative;
        display: grid;
        grid-template-columns: 18rem 55%;
        grid-gap: 15%;
        gap: 8%;
    } */
    .header__container h3{
        font-size: 1.0rem;
    }
    .header__container p {
        margin: 1.5rem 0 2rem;
        font-size: 1rem;
    }
    .photo {
        width: 21rem;
        height: 23rem;
        border-radius: 11rem 38rem 10rem 34rem;
        margin: 0;
    }
    
}
/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px){
    header{
        padding-top: 1rem;
    }
    .header__socials,
    .scroll__down{
        display: none;
    }
    .header__container{
        text-align: center;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .photo {
        margin: 0 auto;
        width: 13rem;
        height: 14rem;
        border-radius: 61rem 38rem 49rem 41rem;
    }
    .header__container p {
        margin: 1.5rem 0 2rem;
    }
    .cta {
        margin-top: 1.5rem;
    }
}