header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 3rem;
  grid-row-gap: 2rem;
  font-family: 'Poppins', sans-serif;
}
.header__container h1 {
  color: var(--color-primary);
}
.header__container h3 {
  font-size: 1.6rem;
}
.header__container p {
  margin: 1rem 0;
  color: var(--color-light);
  font-size: 1.1rem;
}
.header__container__position {
  margin: 3rem 0.5rem;
}
.grid-row-span {
  grid-column: span 2;
}
/* ======== CTA ========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ======== Header socials ========== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  position: fixed;
  left: 2em;
  bottom: 3rem;
  font-size: 1.3rem;
}
.header__socials::before {
  content: '';
  width: 0.2rem;
  height: 4rem;
  background-color: var(--color-light);
}
.header__socials::after {
  content: '';
  width: 0.2rem;
  height: 4rem;
  background-color: var(--color-light);
}

/* ======== Photo ========== */

.photo {
  width: 22rem;
  height: 26rem;
  position: relative;
  left: calc(23% - 5rem);
  /* margin-top: 3rem; */
  overflow: hidden;
}

.border-photo {
  border: 1rem solid #d2efd9;
  padding: 1.5rem;
  height: fit-content;
  width: fit-content;
}

/* ======== SCROLL DOWN ========== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: -10rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* =============== MEDIA QUERIES (Medium-Large DEVICES) =========== */

@media screen and (max-width: 1195px) {
  .header__container__position {
    margin: 2rem 0;
  }
  .header__container {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-row-gap: 2rem;
  }
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1100px) {
  .header__container {
    grid-row-gap: 2rem;
  }
  /* .header__container{
        text-align: center;
        height: 22rem;
        position: relative;
        display: grid;
        grid-template-columns: 18rem 55%;
        grid-gap: 15%;
        gap: 8%;
    } */
  .header__container h3 {
    font-size: 1rem;
  }
  .header__container p {
    margin: 1.5rem 0 2rem;
    font-size: 1rem;
  }
  .photo {
    width: 21rem;
    height: 23rem;
    margin: 0;
  }
}
/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px) {
  header {
    padding-top: 1rem;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .header__container {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  /* .photo {
    } */
  .header__container p {
    margin: 1.5rem 0 2rem;
  }
  .cta {
    margin-top: 1.5rem;
  }
}
