.wraper-markdown {
  margin: 104px;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  font-family: 'Barlow', sans-serif;
  justify-content: space-evenly;
  min-width: 80%;
  max-width: 90%;
}
.container__markdownPreviewer {
  background-color: rgb(123, 168, 207);
  border: 3px solid rgb(5, 152, 250);
}
.editor-wrap {
  height: 100%;
}

.previewWrap {
  padding: 20px;
}

#editor {
  width: 100%;
  height: inherit;
  margin-bottom: -5px;
  resize: none;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 14px;
}

#preview {
  width: 100%;
  border: 2px solid gray;
  padding: 16px;
  display: contents;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
  .wraper-markdown {
    gap: 16px;
    margin: 80px 24px 32px;
  }

  .container__markdownPreviewer {
    background-color: rgb(218, 170, 163);
    min-width: 80%;
  }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  .wraper-markdown {
    grid-template-columns: 1fr;
    margin: 80px 16px 16px;
  }
  #editor {
    min-height: 320px;
    scroll-behavior: smooth;
  }
  .container__markdownPreviewer {
    background-color: rgb(143, 200, 124);
    color: rgb(55, 55, 55);
  }
}

/* ============= Preview =============== */

#preview blockquote {
  border-left: 6px solid #2b1266;
  color: #3e0d8b;
  padding-left: 5px;
  margin: 8px 0 8px 25px;
}

#preview h1,
#preview h2,
#preview h3 {
  margin: 10px 0;
}
#preview p {
  margin: 5px 0;
}
#preview p code {
  padding: 3px;
}

#preview code {
  font-size: 16px;
  font-weight: bold;
  color: rgb(117, 21, 21);
}

#preview pre {
  margin: 16px auto;
  display: block;
  width: fit-content;
  background-color: rgb(247, 247, 247);
  padding: 16px;
}

#preview img {
  display: block;
  width: 40%;
  margin: 16px auto;
}
#preview ul,
#preview ol {
  margin-left: 30px;
}
