/*Style for inside block*/

/*   
.sharing-buttons{
    width: 90%;
    margin: auto;
    display: block;
  }
  .one-social-button{
    height: 40px;
    right: 0;
    border: 1px solid white;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    }
  .one-social-button:hover{
    opacity: 0.8;
  }
  #tweet-quote,
  #git,
  #linkedin{
    color: white;
    font-size: 33px;
    text-align: center;
    float: left;
    width: 40px;
    margin-right: 12px;
  }
  */

/*Style for FOOTER*/

.sharing-buttons {
    margin: 0 10px;
}
#tweet,
#git,
#linkedin {
    color: white;
    font-size: 30px;
    text-align: center;
    float: left;
    width: 36px;
    margin-right: 3px;
}
.one-social-button {
    outline: none;
    cursor: pointer;
}
#tweet:hover,
#git:hover,
#linkedin:hover {
    opacity: 0.8;
}
