
.wrapper-drum-machine{
    margin: 5rem auto;
    display: grid;
    gap: 0.8em;
    grid-template-columns: 480px 200px;
    width: 700px;
    height: 400px;
    align-content: stretch;
    justify-content: space-evenly;
}
.style-wrapper{
    border: 3px solid #333;
    background-color: rgb(49, 51, 82);
    color: #aaa;
}

/* Previous my style  */

/*
.drum-pad, 
.controls-block{
    border: 2px solid hotpink;
    width: 100%;
    height: 100%;
}
.drum-pad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.drum-batton{
    border: 2px solid rgb(190, 190, 190);
}
*/


/*    Style for tests   */

#drumPad, 
.controls-block{
    border: 2px solid hotpink;
    width: 100%;
    height: 100%;
}
#drumPad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.drum-pad{
    border: 2px solid rgb(190, 190, 190);
}