@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
 --main-bg-color: rgb(49, 51, 82);
 --inside-border: 2px solid hotpink;
 --main-color-object: #aaa;


 --white: #ffffff;
 --light: #f0eff3;
 --black: #000000;
 --dark-blue: #1f2029;
 --dark-light: #353746;
 --red: #da2c4d;
 --yellow: #f8ab37;
 --grey: #ecedf3;
}
.wrapper-drum-machine{
    margin: 5rem auto;
    display: grid;
    gap: 0.8em;
    grid-template-columns: 480px 200px;
    width: 700px;
    height: 400px;
    align-content: stretch;
    justify-content: space-evenly;
}
.style-wrapper{
    font-family: 'Lato', sans-serif;
    border: 3px solid #333;
    background-color: var(--main-bg-color);
    color: var(--main-color-object);
}

/*    Style for tests   */

#drumPad, 
.controls-block{
    border: 2px solid hotpink;
    width: 100%;
    height: 100%;
}
#drumPad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding: 1em;
}
.drum-pad{
    text-align: center;
    border: 2px solid rgb(190, 190, 190);
    justify-content: center;
    display: table-row-group;
    font-size: 28px;
}
.letterOnPad{
    display: block;
    margin-top: 2rem;
}

/* Style for pressed button */

@keyframes shine {
    0%  {background-color: #5016f1;}
    80% {background-color: #d72df7;}
    100% {background-color: #ffe94e;}
}
.drum_button_active{
    animation-name: shine;
    animation-timing-function: linear;
    animation-duration: 0.1s;
    color: transparent;
}

/* Style for control block */
.controls-block{
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 20px 5px;
    font-size: 1.2rem;
}
#display{
    border: var(--inside-border);
    margin: 10px auto;
    text-align: center;
    width: 160px;
    height: 30px;
}
#displayVolume{
    border: var(--inside-border);
    margin: 10px 5px;
    font-size: 15px;
    text-align: center;
    width: 20px;
    height: 18px;
}
.block{
    display: block;
}
.block p{
    margin-bottom: 10px;
}

/* Style for radio button */
