#portfolio {
  position: relative;
  max-width: 1124px;
  display: block;
  margin: 20px auto;
  object-fit: cover;
}
#portfolio h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  background: -webkit-linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-bg-variant)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item {
  background: var(--color-bg-variant);
  padding: 18px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 1px 2px 10px 1px var(---box-shadow);
  -moz-box-shadow: 1px 2px 10px 1px var(---box-shadow);
  box-shadow: 1px 2px 10px 1px var(---box-shadow);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.stack-block {
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 10px;
}
.stack-span {
  display: block;
  position: relative;
  margin-top: 5px;
  width: max-content;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 3px 7px;
}
.hide-block {
  display: none;
}
.item:hover {
  animation: showShadow 0.5s;
  -webkit-box-shadow: 7px 10px 20px 7px var(---box-shadow);
  -moz-box-shadow: 7px 10px 20px 7px var(---box-shadow);
  box-shadow: 7px 10px 20px 7px var(---box-shadow);
}
@keyframes showStack {
  from {
    height: 0%;
    visibility: 0;
  }
  to {
    height: 70%;
    visibility: 1;
  }
}
@keyframes showShadow {
  from {
    -webkit-box-shadow: 1px 2px 10px 1px var(---box-shadow);
    -moz-box-shadow: 1px 2px 10px 1px var(---box-shadow);
    box-shadow: 1px 2px 10px 1px var(---box-shadow);
  }
  to {
    -webkit-box-shadow: 7px 10px 20px 7px var(---box-shadow);
    -moz-box-shadow: 7px 10px 20px 7px var(---box-shadow);
    box-shadow: 7px 10px 20px 7px var(---box-shadow);
  }
}

.item-image {
  height: 208px;
  overflow: hidden;
}

.item-image img {
  display: block;
  height: 100%;
  object-fit: cover;
}
.item h3 {
  font-family: 'Silkscreen', sans-serif;
  color: var(--color-white);
  margin-top: 10px;
  text-align: center;
}
.item-button {
  display: flex;
  justify-content: center;
}
.btn {
  background-color: var(--color-light);
  color: var(--color-white);
  padding: 10px;
  cursor: pointer;
  border: 5px solid var(--color-primary);
  transition: var(--transition);
  font-family: 'Rubik Mono One', sans-serif;
}
/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1100px) {
}
/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  #portfolio {
    height: fit-content;
  }
}
