@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-bg: #25312f;
    --color-bg-variant: #424f35;
    --color-primary: #fb933d;
    --color-primary-variant: rgba(77, 225, 126, 0.4);
    --color-white: #ffffff;
    --color-light: #a3c1b4;

    --transition: all 400ms easy;

    --conteiner-widht-lg: 75%;
    --conteiner-widht-md: 86%;
    --conteiner-widht-sm: 90%;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(./files/bg_texture.png);
}


/* --------------GENERAL STYLE ------------ */

.container{
    width: var(--conteiner-widht-lg);
    margin: 2rem auto;
}

h1, 
h2, 
h3,
h4, 
h5 {
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 6rem;
    height: 100vh;
}
section > h2, 
section > h4{
    text-align: center;
    color: var(--color-light);
}

section > h1 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light{
    color: var(--color-light);
}

a {
    color: var(--color-light);
    transition: var(--transition);
}

a:hover{
    color: var(--color-white);
}

.btn{
   width: max-content;
   display: inline-block;
   background-color: var(--color-light);
   color: var(--color-bg); 
   padding: 0.75rem 1.2rem;
   border-radius: 0.4rem;
   cursor: pointer;
   border: 1px solid var(--color-light);
   transition: var(--transition);
}

.btn:hover{
    background: var(--color-primary);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-bg);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px){
    .container{
        width: var(--conteiner-widht-md);
        height: fit-content;
    }

    section{
        margin-top: 6rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */

@media screen and (max-width: 600px){
    .container{
        width: var(--conteiner-widht-sm);
        margin: 2rem auto;
    }

    section > h2{
        margin-bottom: 2rem;
    }
}