.pageQuote {
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: 'Barlow', sans-serif;
}

#titel,
.footer {
  font-size: 32px;
  position: relative;
  color: white;
  text-align: center;
  margin: 0 auto 32px auto;
}

#quote-box {
  display: grid;
  max-width: 560px;
  min-width: 352px;
  min-height: 288px;
  padding: 24px;
  border-radius: var(--border-radius-qb);
  background-color: white;
  text-align: center;
}

.context {
  text-align: center;
  position: relative;
}

#text {
  text-align: center;
  font-size: var(--font-size-qb);
  margin-top: 32px;
}

#author {
  position: relative;
  margin: var(--margin-context-qb);
  font-size: var(--font-size-qb);
  text-align: right;
  font-weight: 600;
}

.buttons-quote {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.buttons-quote #tweet-quote,
.buttons-quote #new-quote {
  font-size: 20px;
  height: 40px;
  color: white;
  border: 0;
  border-radius: var(--border-radius-qb);
  cursor: pointer;
}

#twitt-icon {
  margin-right: 15px;
}

#tweet-quote {
  float: left;
  width: 210px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#new-quote {
  float: right;
  width: 115px;
}
#new-quote:hover,
#tweet-quote:hover {
  opacity: 0.8;
}
footer {
  color: aliceblue;
  width: 100%;
  font-weight: 400;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
  .container-qb {
    display: block;
    padding: 80px 0;
  }
  #titel {
    font-size: 40px;
    margin: 0 3px 40px 3px;
  }
  #quote-box {
    min-height: 288px;
    margin: 0 auto;
  }
  #author {
    margin: 32px auto;
  }
}
/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  #titel {
    font-size: 26px;
    margin: 16px;
  }
  #quote-box {
    margin: auto 16px;
    padding: 16px;
    min-width: 240px;
  }
  #author {
    margin: 16px auto;
  }
  .buttons-quote {
    display: grid;
    grid-row: 2;
    gap: 16px;
    justify-items: end;
  }
}
