@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  list-style: none;
  vertical-align: baseline;
}

.pageQuote{
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
#quote-box{
  max-width: 550px;
  min-width: 549px;
  width: 100%;
  margin: auto 10px;
  padding: 20px 0;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}
#quote-box .titel, 
.footer{
  font-size: 24px;
  position: relative;
}
.context{
  width: 100%;
  text-align: center;
  position: relative;
}
#text{
  width: 80%;
  margin: 21px auto;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
#author{
  width: 90%;
  position: relative;
  margin: 20px;
  font-size: 28px;
  text-align: right;
}
.buttons-quote{
  width: 90%;
  margin: auto;
  display: inline-block;
}
.buttons-quote #tweet-quote,
 .buttons-quote #new-quote{
  font-size: 20px;
  height: 40px;
  color: white;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
#twitt-icon{
  margin-right: 15px;
}

#tweet-quote{
  float: left;
  width: 210px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#new-quote{
  float: right;
  width: 115px;
}
#new-quote:hover , 
#tweet-quote:hover {
  opacity: 0.8;
}
.footer{
  color: aliceblue;
  width: 100%;
  font-weight: 400;
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  This style will needed if sharing-buttons inside block  */
/*
.footer a{
  text-decoration: none;
  color: white;
  margin-left: 5px;
}
*/