@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  list-style: none;
  vertical-align: baseline;
}

.pageQuote{
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
}
#quote-box{
  max-width: 550px;
  width: 100%;
  max-height: 400px;
  min-height: 300px;
  margin: auto 10px;
  padding: 40px 0;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}
#quote-box .titel, 
.footer{
  font-size: 24px;
  position: relative;
}
.context{
  background-color: rgb(189, 252, 73);
  width: 100%;
  text-align: center;
  position: relative;
}

#text{
  width: 80%;
  height: 129px;
  margin: 21px auto;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  background-color: rgb(66, 65, 65);
}
#author{
  width: 450px;
  height: auto;
  clear: both;
  font-size: 1em;
  text-align: right;
}
.buttons-quote{
  width: 450px;
  margin: auto;
  display: block;
}
.button{
  height: 40px;
  /*position: absolute;*/
  right: 0;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  }
.button:hover{
  opacity: 0.8;
}
#new-quote{
  float: right;
  display: inline;
  width: 80px;
  border: 0;
  margin: 20px 40px;
}
#tweet-quote,
#git{
  float: left;
  width: 40px;
  background-color: gray;
}

.footer{
  color: aliceblue;
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
}