* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --timer-bg-color: rgb(49, 51, 82);
    --outside-border: 2px solid var(--purple);
    --inside-border: 2px solid var(--hotpink);
    --display-border: 6px solid var(--hotpurple);
    --font-color: #aaa;

    --hotpink: #ff69b4;
    --yellow: #ffe94e;
    --hotpurple: #d72df7;
    --purple: #5016f1;
    --amazing-colors: linear-gradient(
        217deg,
        var(--yellow),
        var(--hotpurple),
        var(--purple)
    );

    --conteiner-widht-lg: 75%;
    --conteiner-widht-md: 86%;
    --conteiner-widht-sm: 90%;
}

.wrapper-timer {
    display: flex;
    min-height: 100vh;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
}
.wrapper-timer-style {
    background: var(--timer-bg-color);
    color: var(--font-color);
}
.timer-control-panel {
    display: grid;
    text-align: center;
    align-items: stretch;
}

/* =========Control panel ========= */

.control-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    text-align: center;
    align-items: stretch;
}
.control-bar {
    width: 20rem;
    padding: 1rem;
}
.grid-control-bar {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    padding: 1rem;
    margin-top: 1rem;
}

/* ======= Buttons ======== */
.button-with-icon {
    width: 6rem;
    background: var(--timer-bg-color);
    cursor: pointer;
}
.icon-style {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--font-color);
}

/* ======= Display Timer ======== */

#timer-label,
#time-left {
    margin: 1rem auto;
}
#time-left {
    border: var(--display-border);
    padding: 1.5rem;
    width: 15rem;
    color: white;
}

/* ======= Timer Control Bar ======== */
.timer-control button {
    background-color: var(--timer-bg-color);
    margin: 1rem 1rem;
}

/* ======= Animation for refresf icon ======== */
@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
#reset-animation:hover {
    animation-name: rotateIcon;
    animation-duration: 1s;
}

/* ============= MEDIA ============= */

@media screen and (max-width: 740px) {
    .control-panel {
        grid-template-columns: none;
        gap: 1rem;
        text-align: center;
        align-items: stretch;
    }
}
